@use "mixins";

.quem {
  background: linear-gradient(#ffabab, #ffe0e5);

  &__titulo {
    @include mixins.titulo;
    color: #000;
  }

  &__nascida {
    border-radius: 20px;
    width: 450px;
  }

  &--flex {
    @include mixins.flex;
  }

  p {
    font-family: "Lobster", cursive;
    font-size: 20px;
    line-height: 1.5;
  }

  @media (max-width: 768px) {
    .quem {
      .container {
        width: 80%;
      }
      &--flex {
        flex-direction: column;
        gap: 10px;
        margin-top: 40px;
      }
    }
  }
  @media (max-width: 460px) {
    .quem {
      // .container {
      //   width: 60%;
      // }

      &__nascida {
        width: 300px;
      }
    }
  }
}
