@use "hero";
@use "quem";
@use "mixins";
@use "gosto";
@use "familia";
@use "convite";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 768px) {
  .container {
    width: 80%;
  }
}
